extends ../layouts/common.pug

block content
    h1.text-center LOGIN USER
    if errUser
        .alert.alert-danger(role='alert') User not exist
    if errPassword
        .alert.alert-danger(role='alert') Error Password
    form(action="/user/login", method="POST")
        .form-group 
            label.font-weight-bold  User:
            input.form-control(type="text", name="user", value="")

        .form-group 
            label.font-weight-bold  Password:
            input.form-control(type="password", name="password", value="")
        button.btn.btn-primary Login
                        


