//- extends ./layouts/common.pug

//- block content
//-     h1.text-center DOMINATERY MANAGER SYSTEM
//-     p.text-center #{name}
//-     unless errPassword
//-         .alert.alert-primary(role='alert') Login successfully